<!----Register Modal Start---->
<!-- Modal -->
<div class="ms_register_popup">
  <app-signup></app-signup>
  <!----Login Popup Start---->
  <app-login></app-login>
</div>
<!----Language Selection Modal---->
<div class="ms_lang_popup">
  <div id="lang_modal" class="modal  centered-modal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal">
          <i class="fa_icon form_close"></i>
        </button>
        <div class="modal-body">
          <h1>language selection</h1>
          <p>Please select the language(s) of the music you listen to.</p>
          <ul class="lang_list">
            <li>
              <label class="lang_check_label">
                English
                <input type="checkbox" name="check">
                <span class="label-text"></span>
              </label>
            </li>
            <li>
              <label class="lang_check_label">
                hindi
                <input type="checkbox" name="check">
                <span class="label-text"></span>
              </label>
            </li>
            <li>
              <label class="lang_check_label">
                punjabi
                <input type="checkbox" name="check">
                <span class="label-text"></span>
              </label>
            </li>
            <li>
              <label class="lang_check_label">
                French
                <input type="checkbox" name="check">
                <span class="label-text"></span>
              </label>
            </li>
            <li>
              <label class="lang_check_label">
                German
                <input type="checkbox" name="check">
                <span class="label-text"></span>
              </label>
            </li>
            <li>
              <label class="lang_check_label">
                Spanish
                <input type="checkbox" name="check">
                <span class="label-text"></span>
              </label>
            </li>
            <li>
              <label class="lang_check_label">
                Chinese
                <input type="checkbox" name="check">
                <span class="label-text"></span>
              </label>
            </li>
            <li>
              <label class="lang_check_label">
                Japanese
                <input type="checkbox" name="check">
                <span class="label-text"></span>
              </label>
            </li>
            <li>
              <label class="lang_check_label">
                Arabic
                <input type="checkbox" name="check">
                <span class="label-text"></span>
              </label>
            </li>
            <li>
              <label class="lang_check_label">
                Italian
                <input type="checkbox" name="check">
                <span class="label-text"></span>
              </label>
            </li>
          </ul>
          <div class="ms_lang_btn">
            <a href="#" class="ms_btn">apply</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!----Queue Clear Model ---->
<div class="ms_clear_modal">
  <div id="clear_modal" class="modal  centered-modal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal">
          <i class="fa_icon form_close"></i>
        </button>
        <div class="modal-body">
          <h1>Are you sure you want to clear your queue?</h1>
          <div class="clr_modal_btn">
            <a href="#">clear all</a>
            <a href="#">cancel</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!----Queue Save Modal---->
<div class="ms_save_modal">
  <div id="save_modal" class="modal  centered-modal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal">
          <i class="fa_icon form_close"></i>
        </button>
        <div class="modal-body">
          <h1>Log in to start sharing your music!</h1>
          <div class="save_modal_btn">
            <a href="#"><i class="fa fa-google-plus-square" aria-hidden="true"></i> continue with google </a>
            <a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i> continue with facebook</a>
          </div>
          <div class="ms_save_email">
            <h3>or use your email</h3>
            <div class="save_input_group">
              <input type="text" placeholder="Enter Your Name" class="form-control">
            </div>
            <div class="save_input_group">
              <input type="password" placeholder="Enter Password" class="form-control">
            </div>
            <button class="save_btn">Log in</button>
          </div>
          <div class="ms_dnt_have">
            <span>Dont't have an account ?</span>
            <a href="javascript:;" class="hideCurrentModel" data-toggle="modal" data-target="#myModal">Register Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Main js file Style-->
