<div class="ms_header">
  <div class="ms_top_left">
    <div class="ms_top_search">
      <input type="text" class="form-control" placeholder="Search Music Here..">
      <span class="search_icon">
							<img src="assets/images/svg/search.svg" alt="">
						</span>
    </div>
  </div>
  <div class="ms_top_right">
    <div class="ms_top_lang">
      <span data-toggle="modal" data-target="#lang_modal">languages <img src="assets/images/svg/lang.svg" alt=""></span>
    </div>
    <div class="ms_top_btn" [hidden]="isLogin">
      <a href="" class="ms_btn reg_btn" data-toggle="modal" data-target="#myModal"><span>register</span></a>
      <a href="" class="ms_btn login_btn" data-toggle="modal" data-target="#myModal1"><span>login</span></a>
    </div>
    <div class="btn-group">
      <div class="user" id="user"  [hidden]="!isLogin">
      <span id="user-name" class="ms_btn user-name dropdown-toggle" data-mdb-toggle="dropdown"
            aria-expanded="false" *ngIf="user">{{user.username}}</span>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Edit Profile</a></li>
          <li>
            <button class="dropdown-item" (click)="logout()">Log out</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

