
.swal2-popup{
  padding: 100px!important;
}

.swal2-modal{
  padding: 100px!important;
  min-width: 320px!important;
  min-height: 320px!important;
  font-size: 12px!important;
}

.swal2-icon-success{
  font-size: 12px!important;
}

.swal2-show{
  min-width: 320px!important;
  min-height: 320px!important;
  font-size: 12px!important;
  padding: 100px!important;
}
