.card{
  margin: 0 150px;
  height: 400px;
}
.card-body{
  margin-top: 150px;
  margin-left: 200px;
}

.swal-wide{
  width: 850px!important;
}

button{
  height: 35px;
  font-size: 15px;
  border-radius: 5px;
}
