<div id="myModal" class="modal  centered-modal" role="dialog">
  <div class="modal-dialog register_dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal">
        <i class="fa_icon form_close"></i>
      </button>
      <div class="modal-body">
        <div class="ms_register_img">
          <img src="assets/images/register_img.png" alt="" class="img-fluid"/>
        </div>
        <div class="ms_register_form">
          <h2>Register / Sign Up</h2>
          <div  *ngIf="message" class="alert alert-success">
            {{ message }}
          </div>
          <div  *ngIf="errmessage" class="alert alert-danger">
            {{ errmessage }}
          </div>
          <form *ngIf="formRegister" [formGroup]="formRegister" (ngSubmit)="register()">
            <div class="form-group">
              <input type="text" placeholder="Enter Your Name" class="form-control" formControlName="username"
                     [ngClass]="username && username.invalid && (username.dirty || username.touched) ? 'is-invalid' : ''"/>
              <div class="error-messages">
                <ng-container *ngFor="let error of error_messages.username">
                  <div class="error-message"
                       *ngIf="username && username.invalid && username.hasError(error.type) && (username.dirty || username.touched)">
                    {{ error.message }}
                  </div>
                </ng-container>
                <span class="form_icon">
							    <i class="fa_icon form-user" aria-hidden="true"></i>
							    </span>
              </div>
            </div>
            <div class="form-group">
              <input type="text" placeholder="Enter Your phone" class="form-control" formControlName="phone"
                     [ngClass]="phone && phone.invalid && (phone.dirty || phone.touched) ? 'is-invalid' : ''"/>
              <div class="error-messages">
                <ng-container *ngFor="let error of error_messages.phone">
                  <div class="error-message"
                       *ngIf="phone && phone.invalid && phone.hasError(error.type) && (phone.dirty || phone.touched)">
                    {{ error.message }}
                  </div>
                </ng-container>
                <span class="form_icon icon-phone">
                  <i class="fas fa-phone" aria-hidden="true"></i>
                </span>
              </div>
            </div>
            <div class="form-group">
              <input type="password" placeholder="Enter Password" class="form-control" formControlName="password"
                     [ngClass]="password && password.invalid && (password.dirty || password.touched) ? 'is-invalid' : ''"/>
              <div class="error-messages">
                <ng-container *ngFor="let error of error_messages.password">
                  <div class="error-message"
                       *ngIf="password && password.invalid && password.hasError(error.type) && (password.dirty || password.touched)">
                    {{ error.message }}
                  </div>
                </ng-container>
                <span class="form_icon">
						            <i class="fa_icon form-lock" aria-hidden="true"></i>
						              </span>
              </div>
            </div>
            <div class="form-group">
              <input type="password" placeholder="Confirm Password" class="form-control"
                     formControlName="confirmPassword"
                     [ngClass]="confirmPassword && confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched) ? 'is-invalid' : ''"/>
              <div class="error-messages">
                <ng-container *ngFor="let error of error_messages.confirmPassword">
                  <div class="error-message"
                       *ngIf="confirmPassword && confirmPassword.invalid && confirmPassword.hasError(error.type) && (confirmPassword.dirty || confirmPassword.touched)">
                    {{ error.message }}
                  </div>
                </ng-container>
                <span class="form_icon">
						              <i class=" fa_icon form-lock" aria-hidden="true"></i>
						                </span>
              </div>
            </div>
            <div class="form-group">
              <button type="submit" class="ms_btn" (click)="register()">register now</button>
            </div>
            <!--                <a href="#" class="ms_btn">register now</a>-->
            <p>Already Have An Account?
              <a href="#myModal1" (click)="hideCurrentModel()" data-toggle="modal" class="ms_modal hideCurrentModel">login here</a>
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
